
<div id="chatWindow" class="neu-float-panel closed">

    <div id="chatHeader" class="gradient">
        Chat
        <span id="user-list-button" class="fa fa-users pop-user-list" aria-hidden="true" data-toggle="popover" title="Users on board:"></span>
        <span id="close-chat">&times</span>
    </div>
    <div id="chatBody">
        <div id="chatContent">
			<div id="chat-hint">
				New messages will appear here.<br>
				Press <i>Enter</i> to send your message.<br>
				Press <i>Shift+Enter</i> for a new line.<br>
			</div>
        </div>

        <div id="chatInputContainer">
            <div id="notificationbox" placeholder=""></div>
            <textarea id="chatInput" class="neu-input" placeholder="Join the conversation..."></textarea>
        </div>
    </div>
</div>

