<body>
    <div id="legal-notice">
    <h1>Imprint and Privacy Policy</h1>
    <br>
    <h2>MIT License</h2>
    <br>
    <p id="copyright">Copyright (c) 2020</p>
    <br>
    <p>Permission is hereby granted, free of charge, to any person obtaining a copy
        of this software and associated documentation files (the "Software"), to deal
        in the Software without restriction, including without limitation the rights
        to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
        copies of the Software, and to permit persons to whom the Software is
        furnished to do so, subject to the following conditions:
        
        The above copyright notice and this permission notice shall be included in all
        copies or substantial portions of the Software.
        
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
        SOFTWARE.</p>
    <h2>Privacy Policy</h2>
    <p>At The Missing Tool, accessible from https://onboard.f4.htw-berlin.de/, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by The Missing Tool and how we use it.</p>
    <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
    <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in The Missing Tool. This policy is not applicable to any information collected offline or via channels other than this website.<p>
    <h3>Consent</h3>
    <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
    <h3>Information we collect</h3>
    <p>This website does not collect any of its user personal information other than the data the user has entered his/herself into our web-application. These data will remain private to the usered who have access to the particular board.</p>
    <p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
    <h3>How we use your information</h3>
    <p>Your information is not to be used in anyway other than reaching out to you if you had contacted us directly before.</p>
    <p>Your information is not used for advertising or selling in any form.</p>
    <h3>GDPR Data Protection Rights</h3>
    <p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
    <p>The right to access – You have the right to request copies of your personal data.</p>
    <p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
    <p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
    <p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
    <p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
    <p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
    <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>
    <h2>Imprint</h2>
    <p>International Media and Computing Major reprensative</p>
    <p>Prof. Dr. Barne Kleinen</p>
    <p>HTW Berlin, Department 4</p>
    <p>Wilhelminenhofstr. 75A</p>
    <p>12495 Berlin</p>
    <br>
    <p>barne.kleinen@htw-berlin.de</p>
    <p>Telefon: +49 30 5019 - 3499</p>
    </div>
</body>

<style scoped>
    body, html {
        overflow: scroll;
    }
</style>