<body>
    <div class="container document">
        <h1>Imprint</h1>
        <p>Diese Seite präsentiert Praxisprojekte der Studiengänge <a href="https://imi-bachelor.htw-berlin.de/">Internationale Medieninformatik Bachelor</a> und <a href="https://imi-master.htw-berlin.de/">Internationale Medieninformatik Master</a> der HTW Berlin und ergänzt diese Webseiten.</p>
        <a href="https://www.htw-berlin.de/impressum/">https://www.htw-berlin.de/impressum/</a>
    </div>
</body>