<body>
    <button type="button" class="btn btn-success" id="create-board">
        <i class="fa fa-plus-circle"></i>
        <span>Create a new board</span>
    </button>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/script/common.js"></script>
    <script type="text/javascript" src="/script/board.js"></script>
</body>

<style scoped>
#create-board {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#create-btn span {
    margin-left: .5rem;
}
</style>
