<body>
<div class="centered">
    <button type="button" class="neu-button gradient" id="create-board">
        <i class="fa fa-plus-circle"></i>
        <span>Create a new board</span>
    </button>
   <div id="lastSeenContainer">
       <p class="neu-title">Last seen boards</p>
       <ul id="visitedBoards">
       </ul>
   </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/script/common.js"></script>
<script type="text/javascript" src="/script/landing.js"></script>
<script type="text/javascript" src="/script/board.js"></script>
</body>
