<body>
    <div class="container document">
        <h1>Privacy Policy</h1>
        <p>At The Missing Tool, accessible from https://onboard.f4.htw-berlin.de/, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by The Missing Tool and how we use it.</p>
        <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
        <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in The Missing Tool. This policy is not applicable to any information collected offline or via channels other than this website.<p>
        <h2>Consent</h2>
        <p>By using our web-application, you hereby consent to our Privacy Policy and agree to its terms.</p>
        <h2>Information we collect</h2>
        <p>This website does not collect any of its user personal information other than the data (Boardname, nickname) the user has entered into our web-application. These data will be saved in our database and remained private to the users who have URL access to the board.</p>
        <p>Providing your real name and personal data is not compulsory.</p>
        <p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
        <h2>How we use your information</h2>
        <p>Your information is not to be used in anyway other than reaching out to you if you had contacted us directly before.</p>
        <p>Your information is not used for advertising or selling in any form.</p>
        <h2>GDPR Data Protection Rights</h2>
        <p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
        <p>The right to access – You have the right to request copies of your personal data.</p>
        <p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
        <p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
        <p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
        <p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
        <p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
        <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>
        <br>
        <a href="https://www.htw-berlin.de/datenschutz/">https://www.htw-berlin.de/datenschutz/</a>
        <h2><a href="https://showtime.f4.htw-berlin.de/datenschutzerkl%C3%A4rung/">Privacy Policies</a> of HTW Berlin IMI Showtime 2020</h2>
    <div>
</body>


<style scoped>
    body, html {
        overflow: scroll;
    }
</style>