@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
	--light-color: rgba(187, 181, 255);
	--dark-color: rgba(119, 108, 255);
	--shadow-color: rgba(119, 108, 255, .8);
	--bg-color: #eee;
	--dark-panel-color: rgb(235, 235, 235);
	--light-panel-color: #f2f2f2;
	--title-color: rgba(70, 70, 70);
}

* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-size: 13px;
	width: 100vw;
	overflow: hidden;
	background-color: var(--bg-color);
	font-family: 'Roboto', sans-serif !important;
	font-weight: 300;
}

p {
	margin: 0;
}
.container-fluid {
	margin: 0;
	padding: 0;
}
/* NEUMORPHISM */
.flex-container {
	display: flex;
	-webkit-display: flex;
}

.neu-panel {
	border-radius: 10px;
	box-shadow:
		3px 3px 6px rgba(0, 0, 0, .2),
		-5px -5px 10px rgba(255, 255, 255);
	background-color: var(--light-panel-color);
	transition: ease .2s;
}

.gradient {
	background-image: linear-gradient(to bottom right, var(--light-color), var(--dark-color));
	color: white;
}
.gradient:active {
	background-image: linear-gradient(to bottom right, var(--dark-color), var(--light-color));
}

.neu-edit-panel:focus-within {
	box-shadow:
		inset 3px 3px 5px rgba(0,0,0,.2),
		inset -3px -3px 5px rgba(255,255,255,.8);
	background-color: var(--dark-panel-color);
}

.neu-edit-panel:focus-within p {
	opacity: .8; 
	text-shadow: none !important;
}
.neu-input {
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 1rem;
	box-shadow:
		inset 2px 2px 5px rgba(0,0,0,.1),
		inset -2px -2px 5px rgba(255,255,255,.5);
	background-color: var(--dark-panel-color);
}
.neu-input:focus {
	outline: none;
}

button {
	border-radius: 5px;
	border: none;
}

button:focus {
	outline: none;
}

p:focus {
	outline: none;
}

.neu-float-panel {
	border-radius: 10px;
	box-shadow: 7px 7px 10px rgba(0, 0, 0, .1);
}

.neu-outline {
	border: 3px solid var(--dark-color);
}

.neu-button {
	border-radius: 5px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .2), -3px -3px 6px rgba(255, 255, 255, .9);
	transition: ease .2s !important;
	border: none;
	cursor: pointer;
}
.neu-button:hover {
	box-shadow: 4px 4px 10px rgba(0,0,0,.15);
}
.plain {
	background-color: var(--dark-panel-color);
	color: var(--title-color) !important;
}
.neu-button:active {
	box-shadow:
		inset 3px 3px 3px rgba(0,0,0,.2),
		inset -3px -3px 3px rgba(255,255,255,.4);
}

.glow {
	color: var(--dark-color);
	text-shadow: 0 0 2px var(--shadow-color);
	transition: ease .2s;
}
.glow:hover {
	cursor: pointer;
	transform: translateY(2px);
}
.neu-link:hover {
	text-shadow: 0 0 2px var(--shadow-color);
}

.neu-title {
	font-weight: 400;
	color: var(--title-color);
	text-shadow: 2px 2px 3px rgba(0,0,0,.1), -2px -2px 3px rgba(255,255,255,.8);
}

/* BOARD-INPUT */
#board-input {
	z-index: 999;
	position: absolute;
	top: 1.5rem;
	left: 1.5rem;
	overflow: visible;
	align-items: flex-start;
	text-transform: capitalize;
}
#board-input>div {
	margin-right: 2rem;
}
#board-name_input {
	padding: 1rem 1.5rem;
}
#board-name {
	cursor: pointer;
	text-align: center;
	float: left;
	margin-right: 1.5rem;
}
#folder {
	display: none;
}
#board-name_input:focus-within #folder {
	opacity: 0;
}
#dropdown-content {
	background-color: var(--dark-panel-color);
	width: 100%;
	display: none;
	border-radius: 0 0 10px 10px;
	transform: translateY(-.5rem);
}
#dropdown-content p {
	opacity: .5;
	padding: 1rem 1.5rem;
	border-top: 1px solid var(--dark-color);
	margin: 0;
}
#dropdown-content p:hover
{
	cursor: pointer;
	opacity: 1;
	color: var(--dark-color);
}
#username_container {
	border-radius: 50px;
}
#user-name {
	padding: .8rem 1.3rem;
}

/* MENUBAR */
#menubar {
	position: absolute;
	top: 1.5rem;
	right: -6.5rem;
	border-radius: 10px 0 0 10px;
	padding: .7rem .5rem;
	color: white;
	z-index: 999;
}
#menubar img {
	height: 1.2em;
	margin: 0 1.2rem -.2rem .5rem;
	float: left;
}
img#hamburger-bars {
	position: absolute;
	top: 1.5rem;
	left: 1rem;
}
#menubar:hover {
	right: 0
}
#menubar:hover #hamburger-bars {
	opacity: 0;
}
#menubar:hover .menu-btn {
	opacity: 1;
}
.menu-btn {
	position: relative;
	opacity: 0;
	border-radius: 10px;
	border: none;
	background: none;
	color: white;
	margin: 0;
	padding: .7rem;
	width: 3rem;
	height: 3rem;
	overflow: hidden;
	transition: ease .2s;
}

.menu-btn span {
	opacity: 0;
	top: .9rem;
	left: 3rem;
	width: auto;
	white-space: nowrap;
	position: absolute;
}

.menu-btn:hover {
	margin: 0 1rem;
	width: 10rem;
	box-shadow:
		inset 2px 2px 5px rgba(0,0,0,.2),
		inset -2px -2px 5px rgba(255,255,255,.5);
}

.menu-btn:hover span {
	opacity: 1;
}
#setNameModal {
	z-index: 9999;
}
#setNameModal  h5 {
	text-align: center;
	width: 100%;
}
#board-name-button {
	padding: .5rem .8rem;
}
.modal-content {
	border-radius: 10px;
	text-align: center;
	overflow: hidden;
	border: none;
	background-color: var(--bg-color);
	box-shadow: 10px 10px 20px rgba(0,0,0,.1);
}

.modal-header {
	color: white;
	padding: 1.5rem;
}
.close {
	color: white;
	font-weight: 300;
}
.close:hover {
	color: white;
}
.modal-body {
	padding: 2rem;
}
.modal-footer {
	border: none;
	padding: 0 0 1.5rem 0;
	justify-content: center;
}

.modal-footer button {
	color: white;
	padding:  .5rem 1rem;
	margin: 0 1rem;
}
body.modal-open {
	margin: 0 !important;
}

/* TOOLBAR */
#toolbar {
	position: absolute;
	left: 0;
	top: 0;
	transform: translateY(50%);
	padding: 1.2rem 1rem;
	width: 4.5rem;
	height: auto;
	overflow: visible;
	border-radius: 0 10px 10px 0;
	transition: ease-in-out .3s;
	z-index: 999;
}
#toolbar img {
	width: 1.3rem;
	float: left;
}

.toolbar-btn {
	width: 2.5rem;
	height: 2.5rem;
	margin: .5rem 0;
	position: relative;
	padding: .6rem;
	transition: ease-in-out .3s !important;
	color: white;
}

.toolbar-btn span {
	position: absolute;
	top: .5rem;
	left: 3rem;
	white-space: nowrap;
	opacity: 0;
	transition: ease-in-out .5s;
	color: white;
}

.toolbar-btn:hover {
	width: 8.5rem;
}

.toolbar-btn:hover span {
	opacity: 1;
}

.toolbar-btn:hover .color-options {
	opacity: 1;
}

.color-options {
	position: absolute;
	z-index: 2;
	right: -10rem;
	width: 10rem;
	transition: ease-in-out .5s;
	opacity: 0;
	top: .5rem;
}

.color-btn, .color-change-btn {
	margin: 0 .3rem;
	padding: 0 !important;
	width: 1.5rem;
	height: 1.5rem;
	border: none;
	box-shadow: inset -1px -1px 4px rgba(0,0,0,.1);
}

.color-btn:hover, .color-change-btn:hover {
	box-shadow: inset 1px 1px 4px rgba(0,0,0,.1);
}

/* ZOOM */
#overlay {
	position: absolute;
	top: 0;
	left: 0;
}
#zoom-container {
	width: 100vw;
	height: 100vh;
	overflow: scroll;
}
#zoom-container:hover {
	cursor: move;
}
#zoom-btn_container {
	position: absolute;
	left: 1.5rem;
	bottom: 1.5rem;
	overflow: hidden;
	padding: 0 .5rem;
	align-items: center;
	z-index: 999;
}
#zoom-slider {
	height: .5rem;
	padding: 0;
	margin: 0 .5rem;
	cursor: pointer;
	color: white;
	background-color: var(--dark-panel-color);
	border-radius: 5px;
	box-shadow: 
		inset 1px 1px 2px rgba(0,0,0,.2),
		inset -2px -2px 2px rgba(255,255,255); 
}
input[type=range] {
	-webkit-appearance: none;
}
input[type=range]:focus {
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	box-shadow:
		3px 3px 6px rgba(0, 0, 0, .2),
		-5px -5px 10px rgba(255, 255, 255, .9);
	background-image: linear-gradient(to bottom right, var(--light-color), var(--dark-color));
	transition: ease .2s;
	border: 3px solid var(--light-panel-color);	
}
input[type=range]::-moz-range-thumb {
	-webkit-appearance: none;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	box-shadow:
		3px 3px 6px rgba(0, 0, 0, .2),
		-5px -5px 10px rgba(255, 255, 255, .9);
	background-image: linear-gradient(to bottom right, var(--light-color), var(--dark-color));
	transition: ease .2s;
	border: 3px solid var(--light-panel-color);	
}
input[type=range]::-ms-thumb {
	-webkit-appearance: none;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	box-shadow:
		3px 3px 6px rgba(0, 0, 0, .2),
		-5px -5px 10px rgba(255, 255, 255, .9);
	background-image: linear-gradient(to bottom right, var(--light-color), var(--dark-color));
	transition: ease .2s;
	border: 3px solid var(--light-panel-color);	
}
.zoom-btn {
	background: none;
	font-size: 1.5rem;
}
.zoom-btn:hover {
	color: var(--dark-color);
}
#zoom-size {
	margin: 0 .7rem;
}

/* CARDS */
.item {
	position: absolute;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	z-index: 0;
}
.item textarea {
	display: block;
	width: 100%;
	height: 100%;
	background-color: transparent;
	outline: none;
	text-align: center;
	overflow: hidden;
	border: none;
	resize: none !important;
	transition: ease .2s;
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}
.item textarea:focus {
	cursor: pointer;
	-moz-box-shadow: 10px 10px 20px rgb(0,0,0,.1);
	-webkit-box-shadow: 10px 10px 20px rgb(0,0,0,.1);
	box-shadow: 10px 10px 20px rgb(0,0,0,.1);
}
.forward {
	width: 2rem;
	padding: .3rem;
	opacity: .7;
	background: none;
}
.forward img {
	width: 100%;
}
.forward:hover {
	opacity: 1;
}
.square {
	width: 150px;
	height: 150px;
}

.square textarea {
	padding: 1rem;
}

.circle {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.circle textarea {
	border-radius: 50%;
	padding: 2rem;
}

.circle .forward {
	position: absolute;
	right: 25px;
	bottom: 25px;
}

.triangle {
	width: 0;
	height: 0;
	border-style: inset;
	border-width: 0 100px 173px 100px;
	float: left;
	transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-o-transform: rotate(360deg);
}

.rectangle {
	position: absolute;
	width: 200px;
	height: 100px;
}

.rectangle textarea {
	width: 200px;
	height: 100px;
	padding: 1rem;
}

.rectangle .forward {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.triangle textarea {
	text-align: center;
	top: 80px;
	left: -47px;
	position: relative;
	width: 93px;
	height: 93px;
	margin: 0px;
	cursor: pointer;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;

}

.triangle textarea:focus {
	cursor: pointer;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.triangle .forward {
	position: absolute;
	right: -85px;
	bottom: -170px;
}

.ellipse {
	width: 200px;
	height: 100px;
	border-radius: 100px / 50px;
}

.ellipse textarea {
	border-radius: 100px / 50px;
	padding: 2rem;
}

.ellipse .forward {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.square {
	width: 150px;
	height: 150px;
}

.square textarea {
	width: 150px;
	height: 150px;
}

.square .forward {
	position: absolute;
	right: 5px;
	bottom: 5px;
}

textarea:hover {
	cursor: pointer;
}

/* Card functions */
.buttonContainer {
	display: none;
	position: absolute;
	top: -6.5rem;
	padding: 1rem;
	background-color: var(--light-panel-color);
	flex-wrap: nowrap;
}

.link-card .buttonContainer {
	transform: translateX(1.6rem);
}
.square .buttonContainer, .circle .buttonContainer {
	left: -18%;
}
.oval .buttonContainer, .rectangle .buttonContainer {
	left: -2%;
}
.triangle .buttonContainer {
	left: -8rem;
}
.buttonContainer img {
	width: 100%;
}
.buttonContainer span {
	width: 2.5rem;
	height: 2.5rem;
	padding: .6rem;
	margin: 0 .5rem;
	position: relative;
}
.buttonContainer span:hover img {
	color: var()
}
.item:focus-within > .buttonContainer {
	display: flex;
}
.colorChangeOptions {
	display: flex;
	flex-direction: column;
	align-content: center;
	position: absolute;
	bottom: 3.5rem;
	opacity: 0;
	left: .3rem;
	transition: ease-in-out .3s;
}
.colorChangeOptions .color-change-btn {
	margin: .2rem 0;
}
.colorChangeBtn:hover .colorChangeOptions {
	opacity: 1;
}
.comments-box {
	display: none;
	position: absolute;
	bottom: 120%;
	height: auto;
	background-color: white;
	border-radius: 10px;
	padding: 1rem;
	overflow: hidden;
}
.square .comments-box, .circle .comments-box {
	width: 200%;
	left: -50%;
}
.rectangle .comments-box, .ellipse .comments-box {
	width: 150%;
	left: -25%;
}
.triangle .comments-box {
	width: 20vw;
	bottom: 25px;
	left: -11rem;
}
.comments-box_header {
	font-weight: 500;
	margin-bottom: 1rem;
}
.close-commentBox {
	position: absolute;
	right: 1rem;
	top: 1rem;
	font-size: 1.2rem;
	line-height: 1rem;
}
.close-commentBox:hover {
	cursor: pointer;
	text-shadow: 0 0 3px var(--shadow-color);
}
.senderName, .timestamp{
	display: inline;
}
.senderName {
	margin-right: .5rem;
	font-weight: 400;
}
.timestamp {
	font-size: .7em;
	opacity: .5;
	font-style: italic;
}
.commentField {
	max-height: 7.5rem;
	overflow: scroll;
	padding: 0 1rem;
	width: 100%;
	flex-direction: column-reverse;
}
.comment-container {
	max-width: 100%;
	word-break: break-all;
	margin: .4rem 0;
}
.commentInput {
	height: auto;
	width: 100%;
	border: none;
	outline: none;
	margin-top: 1rem;
}

/* CHAT */
#open-chat {
	position: fixed;
	right: 1.5rem;
	bottom: 1.5rem;
	width: 4rem;
	height: 4rem;
	padding: 1rem;
	z-index: 999;
}
#open-chat img {
	width: 100%;
}
#close-chat {
	position: absolute;
	right: 1rem;
	top: .3rem;
	font-size: 1.5rem;
}
#close-chat:hover {
	opacity: .7;
} 
#chatWindow {
	position: absolute;
	right: 1.5rem;
	width: 25vw;
	border-radius: 10px 10px 0 0;
	z-index: 9999;
	overflow: hidden;
	transition: ease .5s;
	background-color: white;
}
#chatWindow.closed {
	bottom: -100%;
	height: 3.5rem;
}
#chatWindow.opened {
	bottom: 0;
	height: 60vh;
}
#chatHeader {
	font-weight: 500;
	font-size: 1.2rem;
	padding: .5rem 1rem;
	cursor: pointer;
	color: white;
}
#chatBody {
	padding: 1rem;
	height: calc(100% - 3rem);
	width: 100%;
	position: relative;
}
#chatContent {
	padding: 1rem;
	overflow-y: auto;
	display: flex;
	flex-direction: column-reverse;
	width: 100%;
}
.message {
	margin: .5rem 0;
}
#chatInputContainer {
	position: absolute;
	bottom: 1rem;
	width: calc(100% - 2rem);
}
.messageText {
	white-space: pre-wrap;
}
#chatInput {
	border: none;
	width: 100%;
	resize: none;
	cursor: text;
	overflow: hidden;
	outline: none;
	height: 4rem;
}
.notifier {
	position: absolute;
	bottom: 0px;
	width: 50%;
	height: 0;
	left: -10%;
	color: white;
	text-align: center;
	background: rgba(176, 0, 52, 0.7);
	overflow: hidden;
	box-sizing: border-box;
	transition: height .2s;
	border-radius: 0 8px 0 0;
}

.active {
	height: 23px;
}

#messageCount {
	position: absolute;
	top: -1rem;
	left: -1rem;
	color: red;
	border-radius: 50%;
	background-color: white;
	width: 2rem;
	height: 2rem;
	padding: .2rem;
	font-weight: 500;
}

/* From animate.css */
.animate {
	-webkit-animation-duration: .2s;
	animation-duration: .2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0.3, 0, 0.5, 1.3);
}

.fadeIn {
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}


