<body>
<div id="overlay"></div>
<button type="button" class="btn btn-success" id="plus">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    Add a card
</button>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/script/web_sockets.js"></script>
</body>