<div id="canvas-wrap">
    <div id="overlay"></div>
</div>
<button type="button" class="btn btn-success" id="plus">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    Add a card
</button>
<script src="http://localhost:4000/socket.io/socket.io.js"></script>
<script type="text/javascript" charset="utf-8">
    $(() => {
        var socket = io();

        window.onload = function () {
            $.get('http://localhost:4000/data', (data) => {
                data.forEach(createCard);
            })
        }

        socket.on('new-card', parseAndCreate)

        function parseAndCreate(data) {
            const obj = JSON.parse(data);
            createCard(obj)
        }

        function createCard(data) {
            const card = document.createElement('div');
            card.className = 'item animate';
            card.innerHTML = "<textarea type='text' value=''></textarea>";
            addListeners(card);

            card.id = data._id;
            card.style.left = data.position.left + 'px';
            card.style.top = data.position.top + 'px';
            card.style.fontSize = data.fontSize;
            card.style.backgroundColor = data.backgroundColor;
            document.getElementById('overlay').appendChild(card)

        }

        socket.on('pos-update', changePosition)

        function changePosition(data) {
            const card = JSON.parse(data);
            let cardById = document.getElementById(card._id);
            cardById.style.left = card.position.left + 'px';
            cardById.style.top = card.position.top + 'px';
        }

        $("#plus").click(() => {
            newCard({
                color: getRandomColor()
            });
        });

        function newCard(card) {
            $.post('http://localhost:4000/', card)
        }

        function addListeners(card) {
            card.addEventListener('mousedown', function (event) {

                let shiftX = event.clientX - card.getBoundingClientRect().left;
                let shiftY = event.clientY - card.getBoundingClientRect().top;

                card.style.position = "absolute";
                card.style.zIndex = 1000;
                document.getElementById('overlay').append(card);

                moveAt(event.pageX, event.pageY);

                function moveAt(pageX, pageY) {
                    card.style.left = pageX - shiftX + 'px';
                    card.style.top = pageY - shiftY + 'px';
                }

                function onMouseMove(event) {
                    moveAt(event.pageX, event.pageY);
                }

                document.addEventListener('mousemove', onMouseMove);

                card.onmouseup = function () {
                    sendPosChange({
                        _id: card.id,
                        position: {
                            left: card.style.left.replace(/\D/g, ''),
                            top: card.style.top.replace(/\D/g, ''),
                        }
                    });
                    document.removeEventListener('mousemove', onMouseMove);
                    card.onmouseup = null;
                };

                function sendPosChange(update) {
                    $.post('http://localhost:4000/update-pos', update)
                }

                card.ondragstart = function () {
                    return false;
                };
            });
        }

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    });
</script>
