<div id="canvas-wrap">
    <div id="overlay"></div>
</div>
<button type="button" class="btn btn-success" id="plus">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    Add a card
</button>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" charset="utf-8">
    $(() => {
        var socket = io();

        window.onload = function () {
            $.get('/data', (data) => {
                data.forEach(createCard);
            })
        }

        socket.on('new-card', parseAndCreate)

        function parseAndCreate(data) {
            const obj = JSON.parse(data);
            createCard(obj)
        }

        function createCard(data) {
            const card = document.createElement('div');
            card.className = 'item animate';
            card.innerHTML = "<span type='button' class='deleteBtn rounded'><i class='fa fa-trash-o'></i></span><textarea type='text' value=''></textarea>";

            addListeners(card);

            card.id = data._id;
            card.style.left = data.position.left + 'px';
            card.style.top = data.position.top + 'px';
            card.style.fontSize = data.fontSize;
            card.style.backgroundColor = data.backgroundColor;
            if (data.text != null) {
                card.querySelector("textarea").value = data.text; //Show the card text if defined
            }
            document.getElementById('overlay').appendChild(card)
        }

        socket.on('pos-update', changePosition)

        function changePosition(data) {
            const card = JSON.parse(data);
            let cardById = document.getElementById(card._id);
            cardById.style.left = card.position.left + 'px';
            cardById.style.top = card.position.top + 'px';
        }

        $("#plus").click(() => {
            newCard({
                color: getRandomColor()
            });
        });

        function newCard(card) {
            $.post('/', card)
        }

        socket.on('delete-card', deleteCard)

        function deleteCard(data) {
            const card = JSON.parse(data);
            $('#' + card._id).remove(); //remove the card element by its ID
        }

        function addListeners(card) {
            let pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
            card.onmousedown = cardMouseDown;

            function cardMouseDown(e) {
                card.classList.remove("animate");
                card.style.position = "absolute";
                card.style.zIndex = 1000;
                document.getElementById('overlay').append(card);
                pos3 = e.clientX;
                pos4 = e.clientY;
                document.onmouseup = closeDragCard;
                document.onmousemove = dragCard;
            }

            function dragCard(e) {
                e.preventDefault();
                pos1 = pos3 - e.clientX;
                pos2 = pos4 - e.clientY;
                pos3 = e.clientX;
                pos4 = e.clientY;
                card.style.top = (card.offsetTop - pos2) + "px";
                card.style.left = (card.offsetLeft - pos1) + "px";
            }

            function closeDragCard() {
                sendPosChange({
                    _id: card.id,
                    position: {
                        left: card.style.left.replace(/\D/g, ''),
                        top: card.style.top.replace(/\D/g, ''),
                    }
                });
                document.onmouseup = null;
                document.onmousemove = null;

            }

            function sendPosChange(update) {
                $.post('/update-pos', update)
            }

            card.ondragstart = function () {
                return false;
            };

            card.querySelector('.deleteBtn').addEventListener('mousedown', function (event) {
                event.stopPropagation();  //prevent bubbling process so the whole card doesn't start dragging
                const cardToDelete = {_id: event.currentTarget.parentElement.id};
                $.post('/delete-card', cardToDelete) //send card ID over for deletion
            });
            
            //Update the text on textarea change
            //TODO socket io

            card.querySelector('textarea').addEventListener('change', function(event) {
                sendTextChange({
                    _id: event.currentTarget.parentElement.id,
                    text: event.currentTarget.value
                })
            })

            function sendTextChange(update) {
                $.post('/update-text', update);
            }
        }
        
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    });
</script>